<div class='container'>
  <div class='row justify-content-center'>
    <h3>Заказ №<%= @order.id %></h3>
  </div>
  <% @order.items.each do |item| %>
  <div class='row item_wrapper order_<%= item.status %>'>
        <div class="col-4 item_photo"><%= image_tag item.product.photo, class: "img-fluid" %></div>
        <div class="col-5 item_name">
          <p><%= item.product.name %></p>
          <p class="item_properties"><%= item.product.barcode %></p>
          <p class="item_properties"><%= item.product.weight %> г.</p>
          <p class="item_properties"><%= "#{item.product.price} #{price_desc(item.product)}" %></p>
          <p class="item_properties"><%= link_to 'УДАЛИТЬ', item_path(item), method: :delete, data: { confirm: 'Вы уверены?'} %></p>
        </div>
        <div class="col-3 item_params">
          <% if item.product.type == 'weightable' %>
            <p><%= "Заказано: #{item.weight} г" %></p>
            <p><%= "Собрано: #{item.picker_weight} г" %></p>
          <% else %>
            <p><%= "Заказано: #{item.count} шт" %></p>
            <p><%= "Собрано: #{item.picker_count} шт" %></p>
          <% end %>
        </div>
  </div>
    <br/>
  <% end %>
</div>
<div class="row justify-content-center">
<%= form_for @order do |f| %>
  <%= f.hidden_field :status, value: 'finished' %>
  <%= f.submit 'Завершить сборку', class: 'btn btn-primary' %>
<% end %>
</div>
<br/>

<%= form_with(model: @order, data: { reflex: "submit->Order#scan" }  ) do |form| %>
  <%= form.text_field :barcode, autofocus: true, id: 'barcode-input', style: 'opacity: 100; position: absolute; left: -99999px' %>
  <%= form.submit :submit, style: 'display: none' %>
<% end %>
